.cell {
    display: inline-block;
    width: 30px; 
    height: 30px;
    text-align: right;
    
    

}
.header {
    background: lightblue;
}

.box {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;

    
}
.color {
    background: red;
}























